.PasswordStrength {
  border-color: #4285f4;
  padding: 25px;
  color: #ffffff;
  font-weight: bold;
}

.PasswordStrength p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PasswordStrength input {
  padding: 5px;
  flex-grow: 1;
  outline: none;
}
.container {
  text-align: center;
  display: inline-block;
}

input {
  width: 10rem;
}
input:hover {
  border: 1px solid rgb(0, 136, 255);
}
.forget_p {
  font-size: small;
}
.btn {
  width: 50%;
  height: 1.5rem;
  background-color: darkslategray;
  color: white;
  font-size: large;
  border-radius: 1rem;
}
.btn:hover {
  background-color: rgb(50, 118, 118);
}
